
button {

}
body {
	
}
header {
	background-image: url("images/bgtile.png");
	background-repeat: repeat;
	height: 200px;
	position: relative;
	top: 0px; 
}
.container {
	top: -190px;
	position: relative;
	padding: 50px;
	text-align: right;
}

.innerContanier {
	float:right 70px;

}

#phoneimage {
	float: left;
	position: relative;
}

.container1 {
	width: 400px;
	float: right;
	background-image: url("images/frame.png");	
	background-repeat: no-repeat;
	margin-right: 70px;


}

h1 {
	text-align: center;
	font-size: 24px;
	font-style: lighter;
	color: black;
}

h2 {
    text-align: center;
    font-size: 1.5em;
}
p {
    text-align: center;
    position: relative;
    font: 24px;
    font-weight: lighter;
}
button {
	background-image: url("images/home.png");
}

li {
	display: center;
	align-items: left;
}

ul {
	clear: both;
	margin: 0 auto;
	text-align: center;
 	}

.images {
	background: url(images/badge-iphone.png);
	background: url(images/badge-android.png);
}


