
button {

}
body {
	
}
header {
	background-image: url("images/bgtile.png");
	background-repeat: repeat;
	height: 200px;
	position: relative;
	top: 0px; 
}
.container {
	top: -190px;
	position: relative;
	padding: 50px;
}

.innerContanier {
	margin-right: 
}

h1 {
	text-align: center;
	font-size: .5px;
}

h2 {
    text-align: center;
    font-size: 1.5em;
}
p {
    text-align: center;
    font-size: 1.5em;
}

/*.images {
	background: url(images/badge-iphone.png);
	background: url(images/badge-android.png);
}*/

li {
	display: inline;
	align-items: left;
}